body {
  font-family: sans-serif;
  height: 100%;
  width: auto;
  margin: 0;
  padding: 0;
  background-color: #595959;
}


img {
    height: auto;
    padding: 0;
    display: block;
    margin: 0 auto;
    max-width: 55%;
}
