body {
  font-family: sans-serif;
  height: 100%;
  width: auto;
  /*margin: 0;*/
  /*padding: 0;*/
  background-color: #595959;
}


img {
    height: auto;
    padding: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 0;
    max-width: 65%;
    vertical-align: middle;
}
