@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Sora', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
}

.white_text {
    color: #FFF;
}

.white_text_v2 {
    color: #F0F0F0;
}

.dark_bg {
    background: #000;
}

.black_text {
    color: #000;
}

.black_text_v2 {
    color: #141414;
}


.main_title {
    font-size: 96px;
    font-weight: 600;
    line-height: 106px;
    max-width: 912px;
    text-align: center;
    margin: 0 auto;

    @media (max-width:768px) {
        font-size: 32px;
        line-height: 46px;
    }
}

.title {
    font-size: 64px;
    font-weight: 700;
    line-height: 74px;
    margin-bottom: 64px;

    @media (max-width:768px) {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 32px;
    }
}

.subtitle {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;

    @media (max-width:768px) {
        font-size: 26px;
        line-height: 36px;
        margin-bottom: 32px;
    }
}

.subtitle2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;

    @media (max-width:768px) {
        font-size: 18px;
        line-height: 26px;
    }
}

.subtext {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;

    @media (max-width:768px) {
        font-size: 14px;
        line-height: 24px;
    }
}

.subtext2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

    @media (max-width:768px) {
        font-size: 13px;
    }
}


.grid {
    display: grid;

    &.cols_2 {
        grid-template-columns: 1fr 1fr;
        gap: 100px;

        @media (max-width:768px) {
            grid-template-columns: 1fr;
            gap: 30px;
        }
    }
}


.text_center {
    text-align: center;
}

.text_right {
    text-align: right;
}

.text_left {
    text-align: left;
}

.max_width500 {
    max-width: 500px;
}

.max_width400 {
    max-width: 400px;
}

.max_width980 {
    max-width: 980px;
}

.primary_btn {
    color: #36C5FE;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    height: 48px;
    padding: 0 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: #000;
    border: rgba(54, 197, 254, 0.30) 1px solid;
    transition: 0.25s linear;
    cursor: pointer;

    &:hover {
        box-shadow: 0px 12px 30px 0px rgba(54, 197, 254, 0.30);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes text-slide-in {
    0% {
        transform: translateY(100px)
    }

    100% {
        transform: translateY(0)
    }
}

header {
    padding: 0 96px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;

    @media (max-width:768px) {
        padding: 0 8px;
    }

    .navbar {
        border-radius: 0px 0px 20px 20px;
        background: linear-gradient(180deg, rgba(10, 10, 10, 0.20) 0%, rgba(10, 10, 10, 0.04) 100%);
        backdrop-filter: blur(20px);
        padding: 0px 64px;
        height: 128px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 0.45s cubic-bezier(0.215, 0.610, 0.355, 1);
        position: relative;
        z-index: 1;

        @media (max-width:768px) {
            height: 68px;
            padding: 0 12px;
        }

        &.scroll {
            height: 64px;
        }

        &_logo {
            img {
                display: block;

                @media (max-width:768px) {
                    max-height: 28px;
                }
            }
        }

        &_hamburger {
            display: inline-flex;
            flex-direction: column;
            gap: 5px;
            cursor: pointer;

            @media (max-width:768px) {
                transform-origin: 0 0;
                transform: scale(0.85);
            }

            span {
                width: 24px;
                height: 2.5px;
                background: #fff;
                display: inline-block;
                transition: 0.45s cubic-bezier(0.215, 0.610, 0.355, 1);
            }

            &.open {
                span {
                    &:nth-child(2) {
                        width: 0px;
                    }

                    &:nth-child(1) {
                        transform: rotate(45deg) translate(5px, 5px);
                        width: 30px;
                    }

                    &:nth-child(3) {
                        transform: rotate(-45deg) translate(5px, -5px);
                        width: 30px;
                    }
                }
            }

            &_menu {
                position: fixed;
                top: 0;
                left: 0;
                padding: 64px;
                width: 100vw;
                height: 100vh;
                background: linear-gradient(180deg, rgba(10, 10, 10, 0.20) 0%, rgba(10, 10, 10, 0.04) 100%);
                background: rgba($color: #000000, $alpha: .85);
                backdrop-filter: blur(20px);
                z-index: -1;
                transition: 0.45s cubic-bezier(0.215, 0.610, 0.355, 1);
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                display: none;

                &.open {
                    display: flex;
                    animation: fadeIn 0.45s cubic-bezier(0.215, 0.610, 0.355, 1);

                    ul {
                        li {
                            &:nth-child(1) {
                                animation: text-slide-in .3s cubic-bezier(0.215, 0.610, 0.355, 1);
                            }

                            &:nth-child(2) {
                                animation: text-slide-in .6s cubic-bezier(0.215, 0.610, 0.355, 1);
                            }

                            &:nth-child(3) {
                                animation: text-slide-in .9s cubic-bezier(0.215, 0.610, 0.355, 1);
                            }
                        }
                    }
                }

                &::before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    opacity: 0.25;
                    background: linear-gradient(270deg, #5A5A5A 6.25%, #36C5FE 100%);
                    filter: blur(112px);
                    z-index: -1;
                }


                ul {
                    list-style: none;
                    padding-left: 0;
                    display: inline-flex;
                    flex-direction: column;
                    gap: 60px;

                    @media (max-width:768px) {
                        gap: 40px;
                    }

                    li {

                        a {
                            text-decoration: none;
                            color: #fff;
                            font-size: 56px;
                            font-weight: 600;
                            position: relative;
                            display: inline-flex;

                            &.active {
                                color: #36C5FE;
                            }

                            span {
                                display: block;

                                &:last-child {
                                    position: absolute;
                                    background: #36C5FE;
                                    -webkit-background-clip: text;
                                    -webkit-text-fill-color: transparent;
                                    width: 0%;
                                    white-space: nowrap;
                                    transition: 0.35s cubic-bezier(0.215, 0.610, 0.355, 1);
                                }
                            }

                            &:hover {
                                span {
                                    &:last-child {
                                        width: 100%;
                                    }
                                }
                            }

                            @media (max-width:768px) {
                                font-size: 36px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.video_sec {
    position: relative;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        background: radial-gradient(95.12% 95.12% at 54.39% 1.66%, rgba(0, 0, 0, 0.00) 66.59%, #000 93.23%);
        z-index: 1;
    }

    &--video {
        overflow: hidden;
    }

    video {
        width: 100%;
        height: 100vh;
        object-fit: cover;

        @media (max-width:768px) {
            object-position: -120px;
        }
    }

    &_info {
        position: absolute;
        bottom: 160px;
        left: 0;
        width: 100%;
        text-align: center;
        z-index: 1;

        @media (max-width:768px) {
            bottom: 120px;
        }

        .subtitle {
            max-width: 450px;
            margin: 0 auto;
            margin-bottom: 32px;

            @media (max-width:768px) {
                max-width: 260px;
            }
        }
    }
}


.block_v1 {
    padding: 64px 20px 120px;

    @media (max-width:768px) {
        padding: 32px 20px 64px;
    }

    .main_title {
        padding-bottom: 120px;

        @media (max-width:768px) {
            padding-bottom: 60px;
        }
    }
}

.features {
    padding: 160px 0;
    position: relative;
    overflow: hidden;

    &_bg_img {
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
            z-index: -1;
            left: 0;
            top: 0;
        }
    }

    @media (max-width:768px) {
        padding: 80px 20px;
    }

    &_list {
        display: grid;
        grid-template-columns: 1.25fr 1fr 1fr;
        gap: 100px;
        margin-top: 400px;

        @media (max-width:768px) {
            grid-template-columns: 1fr 1fr;
            margin-top: 120px;
            gap: 40px;
        }

        &_each {

            &--title {
                color: #36C5FE;
                font-size: 64px;
                font-weight: 700;
                line-height: 74px;
                margin-bottom: 16px;

                @media (max-width:768px) {
                    font-size: 26px;
                    line-height: 32px;
                    margin-bottom: 8px;
                }
            }

            &--text {
                color: #F0F0F0;
                font-size: 20px;
                font-weight: 400;
                line-height: 30px;
                max-width: 200px;

                @media (max-width:768px) {
                    font-size: 14px;
                    line-height: 26px;
                }
            }
        }
    }
}

.about_kma {
    padding: 260px 0 160px;
    position: relative;
    overflow: hidden;

    @media (max-width:768px) {
        padding: 120px 20px 80px;
    }

    .poa {
        position: absolute;
        z-index: -1;
        transition: 0.45s cubic-bezier(0.215, 0.610, 0.355, 1);

        @media (max-width:768px) {
            max-height: 80px;
            opacity: 0.25;
        }
    }

    .one {
        top: 18%;
        left: 5%;
    }

    .two {
        top: 12%;
        right: 2%;
    }

    .three {
        top: 25%;
        right: 8%;
    }

    .four {
        left: 0%;
        top: 35%;
    }

    .five {
        top: 40%;
        left: 10%;
    }

    .six {
        top: 35%;
        right: 0%;
    }

    .seven {
        top: 40%;
        right: 14%;
    }

    .eight {
        top: 46%;
        right: 30%;
    }

    .nine {
        top: 54%;
        left: 40%;
    }

    .ten {
        top: 56%;
        left: 0%;
    }

    .eleven {
        top: 56%;
        right: 0%;
    }

    .twelve {
        bottom: 10%;
        left: 0%;
    }

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 250px;
        left: 0;
        top: 0;
        border-radius: 1366px;
        background: linear-gradient(198deg, rgba(54, 197, 254, 0.6) 0%, rgba(90, 90, 90, 0.6) 87.5%);
        filter: blur(112px);
        transform: translateY(-50%);
    }

    .main_title {
        margin-bottom: 400px;

        @media (max-width:768px) {
            margin-bottom: 60px;
        }
    }
}

.team {
    padding: 150px 0 130px;
    overflow: hidden;

    @media (max-width:768px) {
        padding: 60px 20px 40px;
    }

    .title {
        padding-bottom: 40px;

        @media (max-width:768px) {
            padding-bottom: 0px;
        }
    }

    &_gallery {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 80px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 170px;
            left: 40%;
            top: 50%;
            transform: translate(-50%, -50%);
            border-radius: 830px;
            opacity: 0.75;
            background: linear-gradient(270deg, #5A5A5A 6.25%, #36C5FE 100%);
            filter: blur(112px);
            max-width: 830px;
            z-index: -1;
        }

        @media (max-width:768px) {
            margin-top: 40px;
        }

        img {
            max-width: 100%;

            @media (max-width:768px) {
                max-width: 160px;
            }

            &:nth-child(1) {
                margin-right: -60px;
                position: relative;

                @media (max-width:768px) {
                    margin-right: -10px;
                }
            }

            &:nth-child(2) {
                margin-left: -60px;
                margin-bottom: -110px;

                @media (max-width:768px) {
                    margin-left: -10px;
                    margin-bottom: -40px;
                }
            }

            &:nth-child(3) {
                margin-top: -150px;

                @media (max-width:768px) {
                    margin-top: -40px;
                }
            }
        }
    }

    &_carousel {
        margin-top: 180px;
        position: relative;
        margin-left: -150px;

        @media (max-width:768px) {
            margin-top: 80px;
            margin-left: 0px;
            margin-right: -20px;
            margin-left: -20px;
        }

        &_each {
            max-width: 1120px;
        }

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 80%;
            left: 54%;
            top: 40%;
            transform: translate(-50%, -50%);
            border-radius: 830px;
            opacity: 0.5;
            background: linear-gradient(270deg, #5A5A5A 6.25%, #36C5FE 100%);
            filter: blur(112px);
            max-width: 1100px;
            z-index: -1;

        }
    }

    &_info {
        border-radius: 20px;
        background: #FFF;
        padding: 65px;

        @media (max-width:768px) {
            padding: 25px;
            border-radius: 10px;
        }

        &_head {
            display: flex;
            justify-content: space-between;
            margin-bottom: 40px;

            @media (max-width:768px) {
                align-items: center;
            }

            &_text {
                color: #141414;
                font-size: 24px;
                font-weight: 400;
                line-height: 34px;

                @media (max-width:768px) {
                    font-size: 16px;
                    line-height: 26px;
                }

                .name {
                    display: block;
                    font-weight: 700;
                }

                .position {
                    display: block;
                }
            }

            &--link {
                @media (max-width:768px) {
                    img {
                        max-width: 18px;
                    }
                }
            }
        }

        &_grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 100px;

            @media (max-width:768px) {
                grid-template-columns: 1fr;
                gap: 10px;

                &_each {
                    display: flex;
                    align-items: center;
                    gap: 25px;
                }
            }
        }

        &--profile {
            img {
                max-width: 180px;
                border-radius: 50%;

                @media (max-width:768px) {
                    max-width: 80px;
                    min-width: 80px;
                }
            }
        }

        &--detail {
            color: #141414;
            font-size: 24px;
            font-weight: 400;
            line-height: 34px;
            margin-top: 34px;
            max-width: 380px;

            @media (max-width:768px) {
                font-size: 14px;
                line-height: 22px;
                margin-top: 0px;
            }
        }

        &_list {
            max-width: 320px;

            @media (max-width:768px) {
                margin-top: 20px;
            }

            &_each {
                color: #231F1F;
                font-size: 14px;
                line-height: 24px;
                margin-bottom: 32px;

                @media (max-width:768px) {
                    margin-bottom: 12px;
                    font-size: 13px;
                }

                &--title {
                    font-weight: 700;
                }

                &--text {
                    font-weight: 400;
                }
            }
        }
    }
}

.get_in_touch {
    padding: 64px;
    border-radius: 20px;
    background: linear-gradient(0deg, #000 0%, #000 100%), linear-gradient(200deg, rgba(0, 0, 0, 0.90) 7.29%, rgba(0, 0, 0, 0.00) 67.71%) no-repeat;

    @media (max-width:768px) {
        padding: 32px;
        border-radius: 8px;
        margin: 0 20px;
    }
}

.contact {
    padding: 128px 64px 32px;
    position: relative;
    overflow: hidden;

    &_bg_img {
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
            z-index: -1;
            left: 0;
            top: 0;
        }
    }

    @media (max-width:768px) {
        padding: 64px 0px 32px;
    }

    &_form {
        padding: 64px 0 32px;
        position: relative;
        z-index: 1;

        @media (max-width:768px) {
            padding: 32px 20px;
        }

        &--title {
            color: #FFF;
            text-align: center;
            font-size: 96px;
            font-weight: 600;
            line-height: 106px;
            margin-bottom: 40px;

            @media (max-width:768px) {
                font-size: 32px;
                line-height: 32px;
            }
        }

        &_area {
            border-radius: 20px;
            background: linear-gradient(0deg, #000 0%, #000 100%), linear-gradient(200deg, rgba(0, 0, 0, 0.90) 7.29%, rgba(0, 0, 0, 0.00) 67.71%);
            max-width: 624px;
            margin: 0 auto;
            padding: 80px 50px;

            @media (max-width:768px) {
                padding: 32px 20px;
            }

            .form_group {
                margin-bottom: 16px;

                &_cols {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 50px;

                    @media (max-width:768px) {
                        grid-template-columns: 1fr;
                        gap: 0px;
                    }
                }

                label {
                    color: #FFF;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 26px;
                    margin-bottom: 30px;
                    display: block;
                    margin-top: 32px;
                }

                input {
                    height: 64px;
                    color: #FFF;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                    border-radius: 0px;
                    background: transparent;
                    border: none;
                    box-shadow: none;
                    border-bottom: 1px solid #F0F0F0;
                    outline: none;
                    width: 100%;

                    &::placeholder {
                        color: #FFF;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 24px;
                    }
                }

                select {
                    appearance: none;
                    height: 64px;
                    background: transparent;
                    border: none;
                    color: #FFF;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                    border-bottom: 1px solid #F0F0F0;
                    width: 100%;
                    background: url('../images/drowpdown.svg') center right no-repeat;
                    outline: none;
                    text-overflow: ellipsis;
                    padding-right: 20px;
                }

                textarea {
                    border: 1px solid #F0F0F0;
                    background: transparent;
                    color: #FFF;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                    outline: none;
                    width: 100%;
                    height: 126px;
                    padding: 16px;
                    resize: none;
                }

                button {
                    width: 156px;

                    @media (max-width:768px) {
                        width: 100%;
                    }
                }
            }
        }

        .g-recaptcha {
            transform: scale(0.85);
            transform-origin: 0 0;
        }
    }
}

.footer {
    position: relative;

    @media (max-width:768px) {
        padding: 0 20px;
    }

    &_inner {
        color: #141414;
        font-size: 12px;
        font-weight: 400;
        line-height: 22px;
        border-radius: 20px;
        background: #FFF;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin: 32px 0;

        @media (max-width:768px) {
            height: 60px;
            border-radius: 10px;
        }
    }

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 170px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 830px;
        opacity: 0.5;
        background: linear-gradient(270deg, #5A5A5A 6.25%, #36C5FE 100%);
        filter: blur(112px);
        max-width: 830px;

    }
}

.logo_v2 {
    img {
        @media (max-width:768px) {
            max-height: 20px;
        }
    }
}

.list {
    margin-top: 54px;

    @media (max-width:768px) {
        margin-top: 20px;
    }

    &_each {
        color: #000;
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;

        @media (max-width:768px) {
            font-size: 16px;
            line-height: 24px;
        }
    }
}

.content {
    padding: 96px 0;

    @media (max-width:768px) {
        padding: 50px 20px;
    }
}

.owl-theme .owl-dots {
    margin-top: 56px !important;

    @media (max-width:768px) {
        margin-top: 20px !important;
    }
}

.owl-theme .owl-dots .owl-dot span {
    width: 16px;
    height: 16px;
    background: rgba($color: #141414, $alpha: .10);
    transition: 0.25s linear;

    @media (max-width:768px) {
        width: 12px;
        height: 12px;
    }
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #141414;
}

.text-focus-in {
    -webkit-animation: text-focus-in 0.65s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 0.65s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-8-22 14:34:50
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

.logos {
    padding: 96px 0;

    @media (max-width:768px) {
        padding: 40px 0;
    }

    &_carousel {
        padding: 60px 0;

        @media (max-width:768px) {
            padding: 30px 0;
        }

        &_each {
            img {
                max-width: 100%;
                width: auto !important;
                display: block;
                margin: 0 auto;

                @media (max-width:768px) {
                    max-height: 30px;
                }
            }
        }
    }
}

.leadership {
    padding: 96px 0 0;

    @media (max-width:768px) {
        padding: 50px 20px;
    }

    .owl-item.active {
        .leadership_carousel_each_info--img {

            .one,
            .two,
            .three,
            .four {
                opacity: 1;
                transform: translate(0, 0);
            }
        }
    }

    &_carousel {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 170px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border-radius: 830px;
            opacity: 0.75;
            background: linear-gradient(270deg, #5A5A5A 6.25%, #36C5FE 100%);
            filter: blur(112px);
            max-width: 830px;
        }

        &_each {
            position: relative;
            padding: 100px 0;

            @media (max-width:768px) {
                padding: 50px 0;
            }

            &_info {
                max-width: 420px;
                height: 420px;
                margin: 0 auto;

                @media (max-width:768px) {
                    height: 320px;
                    max-width: 260px;
                }

                &--text {
                    color: #F0F0F0;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 30px;
                    border-radius: 20px;
                    border: 1px solid rgba(0, 33, 47, 0.10);
                    background: #0A0A0A;
                    box-shadow: 20px 30px 50px 0px rgba(0, 0, 0, 0.10);
                    padding: 80px 50px;
                    height: 100%;

                    @media (max-width:768px) {
                        padding: 40px 25px;
                        font-size: 15px;
                        line-height: 24px;
                        border-radius: 10px;
                    }
                }

                &--img {
                    img {
                        position: absolute;
                        max-width: 100%;
                        width: auto !important;
                        opacity: 0;

                        @media (max-width:768px) {
                            max-height: 80px;
                        }

                        &.one {
                            left: 0;
                            bottom: 25%;
                            transform: translate(5px, 5px);
                            transition: 0.5s linear 0.85s;

                            @media (max-width:768px) {
                                left: auto;
                                right: 5%;
                                bottom: 12%;
                            }
                        }

                        &.two {
                            bottom: 0;
                            left: 12%;
                            transition: 0.5s linear 0.9s;
                            transform: translate(-5px, -5px);

                            @media (max-width:768px) {
                                left: 0;
                                bottom: 5%;
                            }
                        }

                        &.three {
                            top: 0px;
                            right: 10%;
                            z-index: -1;
                            transition: 0.5s linear 0.95s;
                            transform: translate(5px, 5px);

                            @media (max-width:768px) {
                                z-index: 1;
                                right: 15%;
                            }
                        }

                        &.four {
                            bottom: 0;
                            right: 0px;
                            transition: 0.5s linear 1s;
                            transform: translate(5px, 5px);
                        }
                    }
                }
            }

        }
    }
}

.testimonials {
    padding-bottom: 80px;

    @media (max-width:768px) {
        padding: 0 20px;
        overflow: hidden;
    }

    &_each {
        border-radius: 20px;
        background: #FFF;
        padding: 86px 50px 50px;

        @media (max-width:768px) {
            padding: 50px 25px;
            border-radius: 10px;
        }

        &--title {
            color: #0A0A0A;
            text-align: center;
            font-size: 40px;
            font-weight: 600;
            line-height: 50px;
            max-width: 850px;
            margin: 0 auto;

            @media (max-width:768px) {
                font-size: 18px;
                line-height: 28px;
            }
        }

        &--profile {
            margin-top: 50px;

            @media (max-width:768px) {
                margin-top: 25px;
            }

            img {
                max-width: 62px;
                width: 62px;
                border-radius: 50%;
                display: block;
                margin: 0 auto;
            }
        }

        &--info {
            color: #0A0A0A;
            font-size: 14px;
            line-height: 24px;
            margin-top: 38px;
            text-align: center;

            @media (max-width:768px) {
                margin-top: 18px;
            }

            .name {
                font-weight: 400;
                display: block;
            }

            .position {
                font-weight: 700;
                display: block;
            }
        }

        &--text {
            color: #0A0A0A;
            text-align: center;
            font-size: 12px;
            font-weight: 400;
            line-height: 22px;
            margin-top: 26px;

            @media (max-width:768px) {
                margin-top: 12px;
            }
        }
    }
}

.case_carousel {
    background: #fff;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 50%;
        top: 0;
        left: 0;
        background: #000;
    }

    @media (max-width:768px) {
        margin: 0 -20px;
    }

    .owl-item.active {
        .case_carousel_each {
            pointer-events: all;
        }
    }

    &_each {
        position: relative;
        border-radius: 20px;
        overflow: hidden;
        pointer-events: none;

        @media (max-width:768px) {
            border-radius: 10px;
        }

        &::before {
            content: '';
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), linear-gradient(138deg, rgba(0, 33, 47, 0.20) 0%, rgba(0, 33, 47, 0.00) 96.35%);
            background-blend-mode: color-burn, normal;
            left: 0;
            top: 0;
            position: absolute;
            opacity: 1;
            transition: 0.35s cubic-bezier(0.215, 0.610, 0.355, 1);
        }

        &.playing {
            &::before {
                opacity: 0;
            }

            .case_carousel_each_info {
                opacity: 0;
                z-index: -1;
            }
        }

        &--video {
            video {
                width: 100%;
                height: 100%;
                display: block;
            }
        }

        &_info {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: 1;
            padding: 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            opacity: 1;
            transition: 0.35s cubic-bezier(0.215, 0.610, 0.355, 1);

            @media (max-width:768px) {
                padding: 15px;
            }

            &_top {
                .name {
                    color: #FAFAFF;
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 36px;
                    display: block;

                    @media (max-width:768px) {
                        font-size: 14px;
                        line-height: 20px;
                    }
                }

                .text {
                    color: #FAFAFF;
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 36px;
                    display: block;

                    @media (max-width:768px) {
                        font-size: 14px;
                        line-height: 20px;
                    }
                }
            }

            &_btm {
                display: flex;
                justify-content: space-between;

                .play {
                    cursor: pointer;
                    display: inline-block;

                    img {
                        @media (max-width:768px) {
                            max-width: 25px;
                        }
                    }
                }

                .logoby {
                    color: #FAFAFF;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 34px;
                    display: inline-block;
                    text-align: right;

                    @media (max-width:768px) {
                        font-size: 8px;
                        line-height: 16px;
                    }

                    img {
                        max-width: 100%;
                        display: block;

                        @media (max-width:768px) {
                            max-height: 15px;
                        }
                    }
                }
            }
        }
    }
}

.video_center {
    position: relative;

    @media (max-width:768px) {
        padding: 0 20px;
    }

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 50%;
        bottom: 0;
        left: 0;
        background: #000;
    }

    &_inner {
        max-width: 860px;
        margin: 0 auto;
        padding-bottom: 100px;
        position: relative;

        @media (max-width:768px) {
            padding-bottom: 20px;
        }

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 80%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border-radius: 830px;
            opacity: 0.5;
            background: linear-gradient(270deg, #5A5A5A 6.25%, #36C5FE 100%);
            filter: blur(112px);
        }

        .case_carousel_each {
            pointer-events: all;
        }
    }
}

.cus_tabs {

    .primary_btn {
        @media (max-width:768px) {
            width: 100%;
        }
    }

    &_flex {
        display: flex;
        justify-content: space-between;
    }

    &_list {
        display: flex;
        align-items: center;
        gap: 80px;
        padding-left: 64px;

        @media (max-width:768px) {
            padding-left: 0px;
            gap: 10px;
        }

        a {
            text-decoration: none;
            color: #FFF;
            font-size: 14px;
            font-weight: 600;
            line-height: 24px;
            text-transform: uppercase;
            max-width: 180px;
            display: inline-flex;
            transition: 0.45s cubic-bezier(0.215, 0.610, 0.355, 1);
            padding-bottom: 50px;

            @media (max-width:768px) {
                font-size: 9px;
                line-height: 16px;
                padding-bottom: 25px;
            }

            &.active {
                color: #36C5FE;
            }
        }
    }

    .tab-content {
        display: none;
        position: relative;
        z-index: 1;
        min-height: 560px;

        @media (max-width:768px) {
            min-height: 420px;
            margin-bottom: 40px;
        }

        &.active {
            display: block;
            animation: fadeIn 0.45s cubic-bezier(0.215, 0.610, 0.355, 1);
        }

        &-img {
            border-radius: 20px;
            background: linear-gradient(139deg, rgba(0, 0, 0, 0.90) 7.29%, rgba(0, 0, 0, 0.00) 67.71%);
            overflow: hidden;
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            z-index: -1;
            border: rgba($color: #36C5FE, $alpha: .5) 1px solid;

            @media (max-width:768px) {
                border-radius: 10px;
            }

            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background: rgba($color: #000000, $alpha: .35);
            }

            img {
                max-width: 100%;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        &-text {
            padding: 64px;

            @media (max-width:768px) {
                padding: 24px;
            }
        }

        .subtitle2 {
            padding-bottom: 40px;
        }
    }
}

.desk_hide {
    display: none;

    @media (max-width:768px) {
        display: block;
    }
}

.mob_hide {
    display: block;

    @media (max-width:768px) {
        display: none;
    }
}