@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Sora", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}

.white_text {
  color: #FFF;
}

.white_text_v2 {
  color: #F0F0F0;
}

.dark_bg {
  background: #000;
}

.black_text {
  color: #000;
}

.black_text_v2 {
  color: #141414;
}

.main_title {
  font-size: 96px;
  font-weight: 600;
  line-height: 106px;
  max-width: 912px;
  text-align: center;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .main_title {
    font-size: 32px;
    line-height: 46px;
  }
}

.title {
  font-size: 64px;
  font-weight: 700;
  line-height: 74px;
  margin-bottom: 64px;
}
@media (max-width: 768px) {
  .title {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 32px;
  }
}

.subtitle {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
}
@media (max-width: 768px) {
  .subtitle {
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 32px;
  }
}

.subtitle2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
}
@media (max-width: 768px) {
  .subtitle2 {
    font-size: 18px;
    line-height: 26px;
  }
}

.subtext {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
@media (max-width: 768px) {
  .subtext {
    font-size: 14px;
    line-height: 24px;
  }
}

.subtext2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
@media (max-width: 768px) {
  .subtext2 {
    font-size: 13px;
  }
}

.grid {
  display: grid;
}
.grid.cols_2 {
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}
@media (max-width: 768px) {
  .grid.cols_2 {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

.text_left {
  text-align: left;
}

.max_width500 {
  max-width: 500px;
}

.max_width400 {
  max-width: 400px;
}

.max_width980 {
  max-width: 980px;
}

.primary_btn {
  color: #36C5FE;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  height: 48px;
  padding: 0 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: #000;
  border: rgba(54, 197, 254, 0.3) 1px solid;
  transition: 0.25s linear;
  cursor: pointer;
}
.primary_btn:hover {
  box-shadow: 0px 12px 30px 0px rgba(54, 197, 254, 0.3);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes text-slide-in {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}
header {
  padding: 0 96px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}
@media (max-width: 768px) {
  header {
    padding: 0 8px;
  }
}
header .navbar {
  border-radius: 0px 0px 20px 20px;
  background: linear-gradient(180deg, rgba(10, 10, 10, 0.2) 0%, rgba(10, 10, 10, 0.04) 100%);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  padding: 0px 64px;
  height: 128px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.45s cubic-bezier(0.215, 0.61, 0.355, 1);
  position: relative;
  z-index: 1;
}
@media (max-width: 768px) {
  header .navbar {
    height: 68px;
    padding: 0 12px;
  }
}
header .navbar.scroll {
  height: 64px;
}
header .navbar_logo img {
  display: block;
}
@media (max-width: 768px) {
  header .navbar_logo img {
    max-height: 28px;
  }
}
header .navbar_hamburger {
  display: inline-flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}
@media (max-width: 768px) {
  header .navbar_hamburger {
    transform-origin: 0 0;
    transform: scale(0.85);
  }
}
header .navbar_hamburger span {
  width: 24px;
  height: 2.5px;
  background: #fff;
  display: inline-block;
  transition: 0.45s cubic-bezier(0.215, 0.61, 0.355, 1);
}
header .navbar_hamburger.open span:nth-child(2) {
  width: 0px;
}
header .navbar_hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
  width: 30px;
}
header .navbar_hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
  width: 30px;
}
header .navbar_hamburger_menu {
  position: fixed;
  top: 0;
  left: 0;
  padding: 64px;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, rgba(10, 10, 10, 0.2) 0%, rgba(10, 10, 10, 0.04) 100%);
  background: rgba(0, 0, 0, 0.85);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  z-index: -1;
  transition: 0.45s cubic-bezier(0.215, 0.61, 0.355, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: none;
}
header .navbar_hamburger_menu.open {
  display: flex;
  animation: fadeIn 0.45s cubic-bezier(0.215, 0.61, 0.355, 1);
}
header .navbar_hamburger_menu.open ul li:nth-child(1) {
  animation: text-slide-in 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
header .navbar_hamburger_menu.open ul li:nth-child(2) {
  animation: text-slide-in 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
header .navbar_hamburger_menu.open ul li:nth-child(3) {
  animation: text-slide-in 0.9s cubic-bezier(0.215, 0.61, 0.355, 1);
}
header .navbar_hamburger_menu::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.25;
  background: linear-gradient(270deg, #5A5A5A 6.25%, #36C5FE 100%);
  filter: blur(112px);
  z-index: -1;
}
header .navbar_hamburger_menu ul {
  list-style: none;
  padding-left: 0;
  display: inline-flex;
  flex-direction: column;
  gap: 80px;
}
@media (max-width: 768px) {
  header .navbar_hamburger_menu ul {
    gap: 40px;
  }
}
header .navbar_hamburger_menu ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 96px;
  font-weight: 600;
  position: relative;
  display: inline-flex;
}
@media (max-width: 768px) {
  header .navbar_hamburger_menu ul li a {
    font-size: 36px;
  }
}
header .navbar_hamburger_menu ul li a.active {
  color: #36C5FE;
}
header .navbar_hamburger_menu ul li a span {
  display: block;
}
header .navbar_hamburger_menu ul li a span:last-child {
  position: absolute;
  background: #36C5FE;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 0%;
  white-space: nowrap;
  transition: 0.35s cubic-bezier(0.215, 0.61, 0.355, 1);
}
header .navbar_hamburger_menu ul li a:hover span:last-child {
  width: 100%;
}

.video_sec {
  position: relative;
  overflow: hidden;
}
.video_sec::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  background: radial-gradient(95.12% 95.12% at 54.39% 1.66%, rgba(0, 0, 0, 0) 66.59%, #000 93.23%);
  z-index: 1;
}
.video_sec--video {
  overflow: hidden;
}
.video_sec video {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  .video_sec video {
    -o-object-position: -120px;
       object-position: -120px;
  }
}
.video_sec_info {
  position: absolute;
  bottom: 160px;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 1;
}
@media (max-width: 768px) {
  .video_sec_info {
    bottom: 120px;
  }
}
.video_sec_info .subtitle {
  max-width: 450px;
  margin: 0 auto;
  margin-bottom: 32px;
}
@media (max-width: 768px) {
  .video_sec_info .subtitle {
    max-width: 260px;
  }
}

.block_v1 {
  padding: 64px 20px 120px;
}
@media (max-width: 768px) {
  .block_v1 {
    padding: 32px 20px 64px;
  }
}
.block_v1 .main_title {
  padding-bottom: 120px;
}
@media (max-width: 768px) {
  .block_v1 .main_title {
    padding-bottom: 60px;
  }
}

.features {
  padding: 160px 0;
  position: relative;
  overflow: hidden;
}
.features_content {
  position: relative;
  z-index: 1;
}
.features_bg_img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  background: linear-gradient(212deg, rgba(0, 0, 0, 0) 53.54%, rgba(0, 0, 0, 0.7) 100%), linear-gradient(180deg, #000 31.25%, rgba(0, 0, 0, 0) 100%);
  transform: rotate(180deg);
}
.features_bg_img img {
  position: absolute;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  z-index: -1;
  left: 0;
  top: 0;
}
@media (max-width: 768px) {
  .features_bg_img img {
    height: 100%;
  }
}
@media (max-width: 768px) {
  .features {
    padding: 80px 20px;
  }
}
.features_list {
  display: grid;
  grid-template-columns: 1.25fr 1fr 1fr;
  gap: 100px;
  margin-top: 400px;
}
@media (max-width: 768px) {
  .features_list {
    grid-template-columns: 1fr 1fr;
    margin-top: 120px;
    gap: 40px;
  }
}
.features_list_each--title {
  color: #36C5FE;
  font-size: 64px;
  font-weight: 700;
  line-height: 74px;
  margin-bottom: 16px;
}
@media (max-width: 768px) {
  .features_list_each--title {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 8px;
  }
}
.features_list_each--text {
  color: #F0F0F0;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  max-width: 200px;
}
@media (max-width: 768px) {
  .features_list_each--text {
    font-size: 14px;
    line-height: 26px;
  }
}

.about_kma {
  padding: 260px 0 160px;
  position: relative;
  overflow: hidden;
}
@media (max-width: 768px) {
  .about_kma {
    padding: 120px 20px 80px;
  }
}
@media (max-width: 768px) {
  .about_kma .employees {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateY(-50px);
  }
}
.about_kma .poa {
  position: absolute;
  z-index: -1;
  transition: 0.45s cubic-bezier(0.215, 0.61, 0.355, 1);
}
@media (max-width: 768px) {
  .about_kma .poa {
    max-height: 80px;
    opacity: 0.25;
  }
}
.about_kma .one {
  top: 18%;
  left: 5%;
}
.about_kma .two {
  top: 12%;
  right: 2%;
}
.about_kma .three {
  top: 25%;
  right: 8%;
}
.about_kma .four {
  left: -4%;
  top: 35%;
}
.about_kma .five {
  top: 40%;
  left: 10%;
}
.about_kma .six {
  top: 35%;
  right: -4%;
}
.about_kma .seven {
  top: 40%;
  right: 14%;
}
.about_kma .eight {
  top: 46%;
  right: 30%;
}
.about_kma .nine {
  top: 54%;
  left: 40%;
}
.about_kma .ten {
  top: 56%;
  left: -2%;
}
.about_kma .eleven {
  top: 56%;
  right: -4%;
}
.about_kma .twelve {
  bottom: 10%;
  left: -2%;
}
.about_kma::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 250px;
  left: 0;
  top: 0;
  border-radius: 1366px;
  background: linear-gradient(198deg, rgba(54, 197, 254, 0.6) 0%, rgba(90, 90, 90, 0.6) 87.5%);
  filter: blur(112px);
  transform: translateY(-50%);
}
.about_kma_fold {
  height: calc(100vh - 130px);
}
@media (max-width: 768px) {
  .about_kma_fold {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .about_kma .main_title {
    margin-bottom: 60px;
  }
}

.team {
  padding: 150px 0 130px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .team {
    padding: 60px 20px 40px;
  }
}
.team .title {
  padding-bottom: 40px;
}
@media (max-width: 768px) {
  .team .title {
    padding-bottom: 0px;
  }
}
.team_gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 80px;
  position: relative;
}
.team_gallery::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 170px;
  left: 40%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 830px;
  opacity: 0.75;
  background: linear-gradient(270deg, #5A5A5A 6.25%, #36C5FE 100%);
  filter: blur(112px);
  max-width: 830px;
  z-index: -1;
}
@media (max-width: 768px) {
  .team_gallery {
    margin-top: 40px;
  }
}
.team_gallery img {
  max-width: 100%;
}
@media (max-width: 768px) {
  .team_gallery img {
    max-width: 160px;
  }
}
.team_gallery img:nth-child(1) {
  margin-right: -60px;
  position: relative;
}
@media (max-width: 768px) {
  .team_gallery img:nth-child(1) {
    margin-right: -10px;
  }
}
.team_gallery img:nth-child(2) {
  margin-left: -60px;
  margin-bottom: -110px;
}
@media (max-width: 768px) {
  .team_gallery img:nth-child(2) {
    margin-left: -10px;
    margin-bottom: -40px;
  }
}
.team_gallery img:nth-child(3) {
  margin-top: -150px;
}
@media (max-width: 768px) {
  .team_gallery img:nth-child(3) {
    margin-top: -40px;
  }
}
.team_carousel {
  margin-top: 180px;
  position: relative;
  margin-left: -150px;
}
@media (max-width: 768px) {
  .team_carousel {
    margin-top: 80px;
    margin-left: 0px;
    margin-right: -20px;
    margin-left: -20px;
  }
}
.team_carousel_each {
  max-width: 1120px;
}
@media (max-width: 768px) {
  .team_carousel_each {
    height: 100%;
  }
}
@media (max-width: 768px) {
  .team_carousel .owl-stage {
    display: flex;
  }
}
.team_carousel .owl-item.active .team_info_head {
  transform: scale(1) translateY(0);
}
.team_carousel .owl-item.active .team_info_grid {
  transform: scale(1) translateY(0);
}
.team_carousel::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 80%;
  left: 54%;
  top: 40%;
  transform: translate(-50%, -50%);
  border-radius: 830px;
  opacity: 0.5;
  background: linear-gradient(270deg, #5A5A5A 6.25%, #36C5FE 100%);
  filter: blur(112px);
  max-width: 1100px;
  z-index: -1;
}
.team_info {
  border-radius: 20px;
  background: #FFF;
  padding: 65px;
}
@media (max-width: 768px) {
  .team_info {
    padding: 25px;
    border-radius: 10px;
    height: 100%;
  }
}
.team_info_head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  transform: scale(0.95) translateY(-20px);
  transition: 0.3s linear 0.65s;
}
@media (max-width: 768px) {
  .team_info_head {
    align-items: center;
  }
}
.team_info_head_text {
  color: #141414;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
}
@media (max-width: 768px) {
  .team_info_head_text {
    font-size: 16px;
    line-height: 26px;
  }
}
.team_info_head_text .name {
  display: block;
  font-weight: 700;
}
.team_info_head_text .position {
  display: block;
}
@media (max-width: 768px) {
  .team_info_head--link img {
    max-width: 18px;
  }
}
.team_info_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  transform: scale(0.95) translateY(20px);
  transition: 0.3s linear 0.65s;
}
@media (max-width: 768px) {
  .team_info_grid {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .team_info_grid_each {
    display: flex;
    align-items: center;
    gap: 25px;
  }
}
.team_info--profile img {
  max-width: 180px;
  border-radius: 50%;
}
@media (max-width: 768px) {
  .team_info--profile img {
    max-width: 80px;
    min-width: 80px;
  }
}
.team_info--detail {
  color: #141414;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  margin-top: 34px;
  max-width: 380px;
}
@media (max-width: 768px) {
  .team_info--detail {
    font-size: 14px;
    line-height: 22px;
    margin-top: 0px;
  }
}
.team_info_list {
  max-width: 320px;
}
@media (max-width: 768px) {
  .team_info_list {
    margin-top: 20px;
  }
}
.team_info_list_each {
  color: #231F1F;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 32px;
}
@media (max-width: 768px) {
  .team_info_list_each {
    margin-bottom: 12px;
    font-size: 13px;
  }
}
.team_info_list_each--title {
  font-weight: 700;
}
.team_info_list_each--text {
  font-weight: 400;
}

.get_in_touch {
  padding: 64px;
  border-radius: 20px;
  background: linear-gradient(0deg, #000 0%, #000 100%), linear-gradient(200deg, rgba(0, 0, 0, 0.9) 7.29%, rgba(0, 0, 0, 0) 67.71%) no-repeat;
}
@media (max-width: 768px) {
  .get_in_touch {
    padding: 32px;
    border-radius: 8px;
    margin: 0 20px;
  }
}

.contact {
  padding: 128px 64px 32px;
  position: relative;
  overflow: hidden;
  background: #000;
  z-index: 1;
}
.contact_bg_img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  background: linear-gradient(212deg, rgba(0, 0, 0, 0) 53.54%, rgba(0, 0, 0, 0.7) 100%), linear-gradient(180deg, #000 31.25%, rgba(0, 0, 0, 0) 100%);
  transform: rotate(180deg);
}
.contact_bg_img img {
  position: absolute;
  width: 100%;
  height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  z-index: -1;
  left: 0;
  top: 0;
}
@media (max-width: 768px) {
  .contact {
    padding: 64px 0px 32px;
  }
}
.contact_form {
  padding: 64px 0 32px;
  position: relative;
  z-index: 1;
}
@media (max-width: 768px) {
  .contact_form {
    padding: 32px 20px;
  }
}
.contact_form--title {
  color: #FFF;
  text-align: center;
  font-size: 96px;
  font-weight: 600;
  line-height: 106px;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .contact_form--title {
    font-size: 32px;
    line-height: 32px;
  }
}
.contact_form_area {
  border-radius: 20px;
  background: linear-gradient(0deg, #000 0%, #000 100%), linear-gradient(200deg, rgba(0, 0, 0, 0.9) 7.29%, rgba(0, 0, 0, 0) 67.71%);
  max-width: 624px;
  margin: 0 auto;
  padding: 80px 50px;
}
@media (max-width: 768px) {
  .contact_form_area {
    padding: 32px 20px;
  }
}
.contact_form_area .form_group {
  margin-bottom: 16px;
}
.contact_form_area .form_group_cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
@media (max-width: 768px) {
  .contact_form_area .form_group_cols {
    grid-template-columns: 1fr;
    gap: 0px;
  }
}
.contact_form_area .form_group label {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 30px;
  display: block;
  margin-top: 32px;
}
.contact_form_area .form_group input {
  height: 64px;
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 0px;
  background: transparent;
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #F0F0F0;
  outline: none;
  width: 100%;
}
.contact_form_area .form_group input::-moz-placeholder {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.contact_form_area .form_group input::placeholder {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.contact_form_area .form_group select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 64px;
  background: transparent;
  border: none;
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  border-bottom: 1px solid #F0F0F0;
  width: 100%;
  background: url("../images/drowpdown.svg") center right no-repeat;
  outline: none;
  text-overflow: ellipsis;
  padding-right: 20px;
}
.contact_form_area .form_group textarea {
  border: 1px solid #F0F0F0;
  background: transparent;
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  outline: none;
  width: 100%;
  height: 126px;
  padding: 16px;
  resize: none;
}
.contact_form_area .form_group button {
  width: 156px;
}
@media (max-width: 768px) {
  .contact_form_area .form_group button {
    width: 100%;
  }
}
.contact_form .g-recaptcha {
  transform: scale(0.85);
  transform-origin: 0 0;
}

.footer {
  position: relative;
}
@media (max-width: 768px) {
  .footer {
    padding: 0 20px;
  }
}
.footer_inner {
  color: #141414;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  border-radius: 20px;
  background: #FFF;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 32px 0;
}
@media (max-width: 768px) {
  .footer_inner {
    height: 60px;
    border-radius: 10px;
  }
}
.footer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 170px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 830px;
  opacity: 0.5;
  background: linear-gradient(270deg, #5A5A5A 6.25%, #36C5FE 100%);
  filter: blur(112px);
  max-width: 830px;
}

@media (max-width: 768px) {
  .logo_v2 img {
    max-height: 20px;
  }
}

.list {
  margin-top: 54px;
}
@media (max-width: 768px) {
  .list {
    margin-top: 20px;
  }
}
.list_each {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}
@media (max-width: 768px) {
  .list_each {
    font-size: 16px;
    line-height: 24px;
  }
}

.content {
  padding: 96px 0;
}
@media (max-width: 768px) {
  .content {
    padding: 50px 20px;
  }
}

.owl-theme .owl-dots {
  margin-top: 56px !important;
}
@media (max-width: 768px) {
  .owl-theme .owl-dots {
    margin-top: 20px !important;
  }
}

.owl-theme .owl-dots .owl-dot span {
  width: 16px;
  height: 16px;
  background: rgba(20, 20, 20, 0.1);
  transition: 0.25s linear;
}
@media (max-width: 768px) {
  .owl-theme .owl-dots .owl-dot span {
    width: 12px;
    height: 12px;
  }
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #141414;
}

.text-focus-in {
  animation: text-focus-in 0.65s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-8-22 14:34:50
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
.logos {
  padding: 96px 0;
}
@media (max-width: 768px) {
  .logos {
    padding: 40px 0;
  }
}
.logos_carousel {
  padding: 60px 0;
}
@media (max-width: 768px) {
  .logos_carousel {
    padding: 30px 0;
  }
}
.logos_carousel_each {
  filter: grayscale(100);
  transition: 0.3s linear;
}
.logos_carousel_each:hover {
  filter: grayscale(0);
}
.logos_carousel_each img {
  max-width: 100%;
  width: auto !important;
  display: block;
  margin: 0 auto;
  max-height: 50px;
}
@media (max-width: 768px) {
  .logos_carousel_each img {
    max-height: 30px;
  }
}

.leadership {
  padding: 96px 0 0;
}
@media (max-width: 768px) {
  .leadership {
    padding: 50px 20px;
  }
}
.leadership .owl-item.active .leadership_carousel_each_info--img .one,
.leadership .owl-item.active .leadership_carousel_each_info--img .two,
.leadership .owl-item.active .leadership_carousel_each_info--img .three,
.leadership .owl-item.active .leadership_carousel_each_info--img .four,
.leadership .owl-item.active .leadership_carousel_each_info--img .five,
.leadership .owl-item.active .leadership_carousel_each_info--img .six,
.leadership .owl-item.active .leadership_carousel_each_info--img .seven {
  opacity: 1;
  transform: translate(0, 0);
}
.leadership_carousel {
  position: relative;
}
.leadership_carousel::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 170px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 830px;
  opacity: 0.75;
  background: linear-gradient(270deg, #5A5A5A 6.25%, #36C5FE 100%);
  filter: blur(112px);
  max-width: 830px;
}
.leadership_carousel_each {
  position: relative;
  padding: 100px 0;
}
@media (max-width: 768px) {
  .leadership_carousel_each {
    padding: 50px 0;
  }
}
.leadership_carousel_each_info {
  max-width: 440px;
  height: 440px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .leadership_carousel_each_info {
    height: 320px;
    max-width: 260px;
  }
}
.leadership_carousel_each_info--text {
  color: #F0F0F0;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  border-radius: 20px;
  border: 1px solid rgba(0, 33, 47, 0.1);
  background: #0A0A0A;
  box-shadow: 20px 30px 50px 0px rgba(0, 0, 0, 0.1);
  padding: 80px 50px;
  height: 100%;
}
@media (max-width: 768px) {
  .leadership_carousel_each_info--text {
    padding: 40px 25px;
    font-size: 15px;
    line-height: 24px;
    border-radius: 10px;
  }
}
.leadership_carousel_each_info--img img {
  position: absolute;
  max-width: 100%;
  width: auto !important;
  opacity: 0;
}
@media (max-width: 768px) {
  .leadership_carousel_each_info--img img {
    max-height: 80px;
  }
}
.leadership_carousel_each_info--img img.one {
  left: 0;
  bottom: 25%;
  transform: translate(5px, 5px);
  transition: 0.5s linear 0.75s;
}
@media (max-width: 768px) {
  .leadership_carousel_each_info--img img.one {
    left: auto;
    right: 5%;
    bottom: 12%;
  }
}
.leadership_carousel_each_info--img img.two {
  bottom: 3%;
  left: 12%;
  transition: 0.5s linear 0.75s;
  transform: translate(-5px, -5px);
}
@media (max-width: 768px) {
  .leadership_carousel_each_info--img img.two {
    left: 0;
    bottom: 5%;
  }
}
.leadership_carousel_each_info--img img.three {
  top: 0px;
  right: 10%;
  transition: 0.5s linear 0.8s;
  transform: translate(5px, 5px);
}
@media (max-width: 768px) {
  .leadership_carousel_each_info--img img.three {
    z-index: 1;
    right: 15%;
  }
}
.leadership_carousel_each_info--img img.four {
  bottom: 0;
  right: 0px;
  transition: 0.5s linear 0.8s;
  transform: translate(5px, 5px);
}
.leadership_carousel_each_info--img img.five {
  bottom: 0;
  right: 20%;
  transition: 0.5s linear 0.85s;
  transform: translate(5px, 5px);
}
.leadership_carousel_each_info--img img.six {
  top: 0;
  left: 12%;
  transition: 0.5s linear 0.85s;
  transform: translate(-5px, -5px);
  z-index: -1;
}
@media (max-width: 768px) {
  .leadership_carousel_each_info--img img.six {
    left: 0;
    top: 5%;
  }
}
.leadership_carousel_each_info--img img.seven {
  bottom: 32%;
  right: 10%;
  transition: 0.5s linear 0.8s;
  transform: translate(5px, 5px);
  z-index: -1;
}
@media (max-width: 768px) {
  .leadership_carousel_each_info--img img.seven {
    bottom: 20%;
    right: 4%;
    z-index: 1;
  }
}

.testimonials {
  padding-bottom: 80px;
}
@media (max-width: 768px) {
  .testimonials {
    padding: 0 20px 20px;
    overflow: hidden;
  }
}
.testimonials .owl-item.active .testimonials_each--title,
.testimonials .owl-item.active .testimonials_each--info,
.testimonials .owl-item.active .testimonials_each--text,
.testimonials .owl-item.active .testimonials_each--profile {
  opacity: 1;
  transform: scale(1);
}
.testimonials_each {
  border-radius: 20px;
  background: #FFF;
  padding: 86px 50px 50px;
}
@media (max-width: 768px) {
  .testimonials_each {
    padding: 50px 25px;
    border-radius: 10px;
  }
}
.testimonials_each--title {
  color: #0A0A0A;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
  max-width: 850px;
  margin: 0 auto;
  transform: scale(0.65);
  transition: 0.35s linear 0.65s;
}
@media (max-width: 768px) {
  .testimonials_each--title {
    font-size: 18px;
    line-height: 28px;
  }
}
.testimonials_each--profile {
  margin-top: 50px;
  transform: scale(0.65);
  transition: 0.35s linear 0.7s;
}
@media (max-width: 768px) {
  .testimonials_each--profile {
    margin-top: 25px;
  }
}
.testimonials_each--profile img {
  max-width: 62px;
  width: 62px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
.testimonials_each--info {
  color: #0A0A0A;
  font-size: 14px;
  line-height: 24px;
  margin-top: 38px;
  text-align: center;
  transform: scale(0.65);
  transition: 0.35s linear 0.75s;
}
@media (max-width: 768px) {
  .testimonials_each--info {
    margin-top: 18px;
  }
}
.testimonials_each--info .name {
  font-weight: 400;
  display: block;
}
.testimonials_each--info .position {
  font-weight: 700;
  display: block;
}
.testimonials_each--text {
  color: #0A0A0A;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  margin-top: 26px;
  transform: scale(0.65);
  transition: 0.35s linear 0.8s;
}
@media (max-width: 768px) {
  .testimonials_each--text {
    margin-top: 12px;
  }
}

.case_carousel {
  background: #fff;
  position: relative;
}
.case_carousel::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
  background: #000;
}
@media (max-width: 768px) {
  .case_carousel {
    margin: 0 -20px;
  }
}
.case_carousel .owl-item.active .case_carousel_each {
  pointer-events: all;
}
.case_carousel_each {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  pointer-events: none;
}
@media (max-width: 768px) {
  .case_carousel_each {
    border-radius: 10px;
  }
}
.case_carousel_each.no_fade::before {
  opacity: 0;
}
.case_carousel_each::before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), linear-gradient(138deg, rgba(0, 33, 47, 0.2) 0%, rgba(0, 33, 47, 0) 96.35%);
  background-blend-mode: color-burn, normal;
  left: 0;
  top: 0;
  position: absolute;
  transition: 0.35s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.case_carousel_each.playing::before {
  opacity: 0;
}
.case_carousel_each.playing .case_carousel_each_info {
  opacity: 0;
  z-index: -1;
}
.case_carousel_each--video video {
  width: 100%;
  height: 100%;
  display: block;
}
.case_carousel_each_info {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 1;
  transition: 0.35s cubic-bezier(0.215, 0.61, 0.355, 1);
}
@media (max-width: 768px) {
  .case_carousel_each_info {
    padding: 15px;
  }
}
.case_carousel_each_info_top .name {
  color: #FAFAFF;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  display: block;
}
@media (max-width: 768px) {
  .case_carousel_each_info_top .name {
    font-size: 14px;
    line-height: 20px;
  }
}
.case_carousel_each_info_top .text {
  color: #FAFAFF;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  display: block;
}
@media (max-width: 768px) {
  .case_carousel_each_info_top .text {
    font-size: 14px;
    line-height: 20px;
  }
}
.case_carousel_each_info_btm {
  display: flex;
  justify-content: space-between;
}
.case_carousel_each_info_btm .play {
  cursor: pointer;
  display: inline-block;
}
@media (max-width: 768px) {
  .case_carousel_each_info_btm .play img {
    max-width: 25px;
  }
}
.case_carousel_each_info_btm .logoby {
  color: #FAFAFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 34px;
  display: inline-block;
  text-align: right;
}
@media (max-width: 768px) {
  .case_carousel_each_info_btm .logoby {
    font-size: 8px;
    line-height: 16px;
  }
}
.case_carousel_each_info_btm .logoby img {
  max-width: 100%;
  display: block;
}
@media (max-width: 768px) {
  .case_carousel_each_info_btm .logoby img {
    max-height: 15px;
  }
}

.video_center {
  position: relative;
}
@media (max-width: 768px) {
  .video_center {
    padding: 0 20px;
  }
}
.video_center::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
  background: #000;
}
.video_center_inner {
  max-width: 860px;
  margin: 0 auto;
  padding-bottom: 100px;
  position: relative;
}
@media (max-width: 768px) {
  .video_center_inner {
    padding-bottom: 20px;
  }
}
.video_center_inner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 830px;
  opacity: 0.5;
  background: linear-gradient(270deg, #5A5A5A 6.25%, #36C5FE 100%);
  filter: blur(112px);
}
.video_center_inner .case_carousel_each {
  pointer-events: all;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@media (max-width: 768px) {
  .cus_tabs .primary_btn {
    width: 100%;
  }
}
.cus_tabs_flex {
  display: flex;
  justify-content: space-between;
}
.cus_tabs_list {
  display: flex;
  align-items: center;
  gap: 80px;
  padding-left: 64px;
}
@media (max-width: 768px) {
  .cus_tabs_list {
    padding-left: 0px;
    gap: 10px;
  }
}
.cus_tabs_list a {
  text-decoration: none;
  color: #FFF;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  max-width: 180px;
  display: inline-flex;
  transition: 0.45s cubic-bezier(0.215, 0.61, 0.355, 1);
  padding-bottom: 50px;
}
@media (max-width: 768px) {
  .cus_tabs_list a {
    font-size: 9px;
    line-height: 16px;
    padding-bottom: 25px;
  }
}
.cus_tabs_list a.active {
  color: #36C5FE;
}
.cus_tabs .tab-content {
  display: none;
  position: relative;
  z-index: 1;
  min-height: 560px;
}
@media (max-width: 768px) {
  .cus_tabs .tab-content {
    min-height: 420px;
    margin-bottom: 40px;
  }
}
.cus_tabs .tab-content.active {
  display: block;
  animation: fadeInUp 0.75s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.cus_tabs .tab-content-img {
  border-radius: 20px;
  background: linear-gradient(139deg, rgba(0, 0, 0, 0.9) 7.29%, rgba(0, 0, 0, 0) 67.71%);
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  border: rgba(54, 197, 254, 0.5) 1px solid;
}
@media (max-width: 768px) {
  .cus_tabs .tab-content-img {
    border-radius: 10px;
  }
}
.cus_tabs .tab-content-img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.35);
}
.cus_tabs .tab-content-img img {
  max-width: 100%;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cus_tabs .tab-content-text {
  padding: 64px;
}
@media (max-width: 768px) {
  .cus_tabs .tab-content-text {
    padding: 24px;
  }
}
.cus_tabs .tab-content .subtitle2 {
  padding-bottom: 40px;
}

.desk_hide {
  display: none;
}
@media (max-width: 768px) {
  .desk_hide {
    display: block;
  }
}

.mob_hide {
  display: block;
}
@media (max-width: 768px) {
  .mob_hide {
    display: none;
  }
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.case_modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: 99;
  display: none;
}
.case_modal--close {
  position: absolute;
  right: 50px;
  top: 50px;
  width: 34px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .case_modal--close {
    top: auto;
    bottom: 20%;
    left: calc(50% - 18px);
  }
}
.case_modal--close span {
  width: 100%;
  display: inline-block;
  height: 3px;
  background: #fff;
}
.case_modal--close span:first-child {
  transform: rotate(45deg) translate(8px, 8px);
}
.case_modal--close span:last-child {
  transform: rotate(-45deg) translate(6px, -6px);
}
.case_modal.open {
  display: flex;
  animation: fadeInUp 0.75s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.case_modal_inner {
  min-width: 800px;
}
@media (max-width: 768px) {
  .case_modal_inner {
    min-width: 90vw;
  }
}/*# sourceMappingURL=style.css.map */